table tr td{
  vertical-align: top;
}

.category-header{
  color: red;
}

tr.page-row td{
  border: 1px solid black;
}

table{
  border-collapse: collapse;
} 

.category-table tr td{
  border-bottom: 1px solid black;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}
